#ignore idea files
*.idea
#ignore log files
*.log
*.class
*.tsv_result
*.DS_Store
target
out
out/production
out/production/main
out/production/main/com
out/production/main/com/deloitte
out/production/main/com/deloitte/yusp
out/production/main/com/deloitte/yusp